<div ng-controller="form">
    <h1>Cadastro</h1>

    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>Detalhes</legend>

            <label for="Name">Nome</label>
            <input id="Name" type="text" ng-model="pizza.Name" />

            <label for="Description">Descrição</label>
            <textarea id="Description" ng-model="pizza.Description"></textarea>

            <label for="Price">Preço</label>
            <input id="Price" ng-model="pizza.Price" />

            <label for="Img">Imagem</label>
            <input id="Img" type="file" accept="image/*" ng-model="pizza.Img" />

            <a class="pure-button" href="#pizzas">Voltar</a>
            <input type="submit" value="Salvar" class="pure-button pure-button-primary" ng-click="save(pizza)" />
        </fieldset>
    </form>
</div>