<div ng-controller="index">
    <h1>Pizzas cadastradas</h1>

    <a href="#pizzas/novo" class="pure-button pure-button-primary">Cadastrar novo</a>

    <br />

    <div class="pure-g">
        <div class="pizza is-center pure-u-1-3" ng-repeat="pizza in pizzas">
            <h2><a href="#pizzas/editar/{{pizza.Id}}">{{pizza.Name}}</a></h2>
            <a href="#pizzas/editar/{{pizza.Id}}">
                <img ng-src="{{pizza.ImgUrl}}" alt="{{pizza.Name}}" />
            </a>
            <h4>R$ {{pizza.Price}}</h4>
            <p><a href="#pizzas/editar/{{pizza.Id}}">{{pizza.Description}}</a></p>
        </div>
    </div>
</div>