<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>We want pizza now!</title>
    <link href="~/pizza.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <a href="#pizzas">Pizzas</a>
    <a href="#orders">Pedidos</a>
    <a href="#clients">Clientes</a>

    <div ng-view></div>

    @System.Web.Optimization.Scripts.Render("~/scripts")
</body>
</html>