<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>We want pizza now!</title>

    <link href="~/pizza.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/layouts/marketing.css">
    <link rel="stylesheet" href="~/Content/css/site.css" />
</head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/">We want pizza now!</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/admin/" class="pure-menu-link">Acesso restrito</a></li>
            </ul>
        </div>
    </div>
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Pizza @Html.Raw("<3")</h1>
            <p class="splash-subhead">
                Pizzas feitas com carinhos por chefes especiais
            </p>
            <p>
                <a href="#cardapio" class="pure-button pure-button-primary">Ver cardárpio</a>
            </p>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <h2 class="content-head is-center">Qualidades que você só encontra aqui.</h2>
            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-rocket"></i>
                        Entrega na velocidade de sua fome
                    </h3>
                    <p>
                        Todo o sabor de uma culinária tradicional e caseira com o benefício da entrega de um fast food
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-mobile"></i>
                        Na palma da sua mão
                    </h3>
                    <p>
                        Você pode conferir os cardápios, realizar pedidos, efetuar o pagamento, acompanhar a entrega na palma da sua mão
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-th-large"></i>
                        Aqui você pode fazer sua própria pizza, você escolhe os ingredientes!
                    </h3>
                    <p>
                        Não possui nenhuma pizza que lhe agrada, talvez queira experimentar algo novo? Você escolhe os seus ingredientes e sua receita pode virar destaque na semana e entrar para o cardápio
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fa fa-check-square-o"></i>
                        Qualidade
                    </h3>
                    <p>
                        A qualidade aqui pra gente é tudo, nosso atendimento personalizado, pizzaiolos chefs, ingredientes sempre frescos e de alta qualidade
                    </p>
                </div>
            </div>
        </div>
        <div class="ribbon l-box-lrg pure-g">
            <div class="pure-u-1 is-center">
                <h2 class="content-head content-head-ribbon">Porque pizza?</h2>
                <p>
                    Porque a vida é curta demais então... mais pizza por favor
                </p>
            </div>
        </div>
        <div class="content">
            <h2 class="content-head is-center">Faça o seu pedido, entre em contato, manda um email, vem na loja por favor</h2>
            <div class="pure-g">
                <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                    <img width="100%" src="http://maps.googleapis.com/maps/api/staticmap?center=Rua+Almirante+Cockrane,+228+-+Diadema+/+SP&zoom=16&scale=false&size=600x300&maptype=roadmap&key=AIzaSyC6k-NpkoA_Jj-51CEXaff8D5iwiuWnyFU&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7CRua+Almirante+Cockrane,+228+-+Diadema+/+SP" alt="Google Map of Rua Almirante Cockrane, 228 - Diadema / SP">
                </div>
                <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                    <h4><i class="fa fa-volume-control-phone"></i> Entre em contato</h4>
                    <p>
                        Estamos de prontidão para atender seus pedidos e provar que o mundo fica bem melhor depois de uma boa fatia de pizza
                    </p>
                    <h4><i class="fa fa-cutlery"></i> Pede pizza, por favor, é sério</h4>
                    <p>
                        Precisamos muito espalhar o sabor na nossa pizza pelo mundo, é a nossa missão, colabora.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer l-box is-center">
            Tudo aqui é feito com muito esmero e &#9825; só pra você!
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/scripts")
</body>
</html>